@font-face {
    font-family: 'Venite';
    font-weight: normal;
    font-style: normal;
    src: url(../font/VeniteAdoremus-rgRBA.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: normal;
    font-style: normal;
    src: url(../font/Roboto-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Romanica';
    font-weight: normal;
    font-style: normal;
    src: url(../font/Romanica.ttf) format('truetype');
}